

/*
    * 这里书写的是公共变量
    * 宽度，高度 颜色  
    *背景色这些要分开写  方便查找
*/


/*----------------宽度------------*/
//表单 input的宽度
$formBoxWidth:240px;


/*----------------高度------------*/
//表单 input的高度
$formBoxHeight:150px;


/*----------------颜色------------*/
$bgColor:#fff;


/*----------------字体大小------------*/
$baseSize:14px;